<% @page_title = "درباره ما" %>


<div class="row", style=" margin-top:100px; width: auto">
  <div class="row", style=" margin-top:10px; direction: rtl; padding-right: 50px ">
    <h3 xmlns="http://www.w3.org/1999/html">
      درباره ما 
    </h3>
    امانتی یک بستر بسیار ساده و قویه که خیلی راحت میتونید باهاش لوازمی که دارید رو با افراد دیگه به اشتراک بذارید، یا چیزهایی که میخواید رو از توی لیست لوازم دیگران که باهاتون به اشتراک گذاشتن پیدا کنید.
  </br></br>
  </div>
  




</div>