  <!-- Product type box -->
  <div class="row">
    <div class="well well-cat">
      <ul class="catlist">
        <li class="car">
          <div class="overlay">
            <span class="value">خودرو</span>
          </div>
        </li>
        <li class="melk">
          <div class="overlay">
            <span class="value">املاک</span>
          </div>
        </li>
        <li class="homeEquip">
          <div class="overlay">
            <span class="value">لوازم خانه</span>
          </div>
        </li>
        <li class="funEquip">
          <div class="overlay">
            <span class="value">لوازم تفریحی</span>
          </div>
        </li>
        <li class="electroEquip">
          <div class="overlay">
            <span class="value">لوازم الکترونیکی</span>
          </div>
        </li>
        <li class="personalEquip">
          <div class="overlay">
            <span class="value">لوازم شخصی</span>
          </div>
        </li>
        <li class="book">
          <div class="overlay">
            <span class="value">کتاب</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
